<!DOCTYPE html>
<html ng-app='goolp'>
  <head>
    <meta charset="utf-8"/>
    <title> goolp </title>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">

  </head>
  <body>
    <h1> goolp </h1>
    <div ng-controller='mainController' ng-keydown='key($event)' class='container'>
    <br>
    <br>
        <div>
        <form name='upload'>
        <span>
          <input align='center' class='locInput' type='text' name='location' placeholder='City or Zipcode' ng-model='mainLocation'>
        </span>
    <br>
    <br>
          <span>
          <input align='center' class='nameInput' type='text' name='name' placeholder='Name or Cuisine' ng-model='mainName'>
          </span>
          <!-- <input align='center' type='number' name='rating' placeholder='Pic Rating' ng-model='picRating'> -->
        </form>
        </div>
    <br>
          <div class='button'>
    <br>
    <br>
            <button align='center' ng-click='searchOne()'> Goolp It </button>
          </div>


        <div>
          <h2 class='mainInfo'> {{currentName}} {{divider}} {{rating}} {{ratingAvg}} </h2>
        </div>

    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="app/main/main.js"></script>
  </body>
</html>
