<!DOCTYPE html>
<html ng-app='goolp'>
  <head>
    <meta charset="utf-8"/>
    <title> goolp </title>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">

  </head>
  <body>
    <h1> goolp </h1>
    <h4> - when google meets yelp - </h4>
    <div ng-controller='mainController' ng-keydown='key($event)' class='container'>
    <br>
    <br>
        <div>

        <form name='upload'>
        <div class="two-col">
            <div class="col1">
                <!-- <label for="field1">Name or Cuisine</label> -->
                <input align='center' autocomplete='off' class='nameInput' type='text' name='name' placeholder='Restaurant Name' ng-model='mainName'>
            </div>
            <div class="col2">
                <!-- <label for="field2">City or Zip</label> -->
                <input align='center' autocomplete='off' class='locInput' type='text' name='location' placeholder='City' ng-model='mainLocation'>
            </div>
        </div>
        </form>
    <br>
          <div class='button'>
    <br>
    <br>
            <button align='center' ng-click='searchOne()'> Goolp It </button>
          </div>


        <div class='results'>
          <h2 class='mainInfo'> {{currentName}} {{divider}} {{rating}} {{ratingAvg}} </h2>
        </div>

    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="app/main/main.js"></script>
  </body>
</html>
