body {
  font-family: 'Bungee', cursive;
  background-color: #F24153;
  color: white;
}

body, input, button, select, option, textarea {
  font-family: 'Bungee', cursive;
}

h1 {
  font-size: 105px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

h4 {
  text-align: center;
  margin-top: 5px;
  color:white;
}

input[type=text] {
  font-family: 'Bungee', cursive;
  color: white !important;
  border-color: white;
  text-align: center;
  align-self: center;
  background-color: #F24153;
  outline: none;
  font-size: 18px;
  width: 300px;
  height:60px;
  border-radius: 10px;
  border-style: solid;
  border-width: 4px;
}

::-webkit-input-placeholder {
  color: #F24153;
}

button {
  font-size: 28px;
  background-color: white;
  border-color: white;
  align-self: center;
  color: #F24153;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 6px;
  outline: none;
}

/*.results {
  border-width: 3px;
  border-style: solid;
  border-color: black;
}
*/
.mainInfo {
  font-size: 60px;
  color: white;
  background-color: #F24153;
  border-width: 7px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  text-align: center;
}

.upload {
  font-size: 19px;
  text-align: center;
}

.button {
  text-align: center;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.two-col {
  overflow: hidden;
}

.two-col .col1,
.two-col .col2 {
  width 49%;
}

.two-col .col1 {
  float: left;
  margin-right: -10px;
}

.two-col .col2 {
  float: right;
  margin-left: -10px;
}

.two-col label {
  display: block;
}
